.ScrambleMenu {
  display: flex;
  background: #3875e0;
  padding: 1em;
}

.SelectScrambler {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #1c4182;
}

.ScrambleDisplay {
  flex-grow: 1;
  text-align: center;
  color: #FFF;
}
